<html>
<style>
dy{
       font-size: 15pt;
       font-family: arial;
}
</style>
<body>
<center>
<h1>Zane and Maurice's Magical Literature Database</h1>
<h4><a href="/">Home</a></td></tr></h4>
</center>

<p>Authors</p>
<table>
{% for t1 in table1 %}
    <tr>
    {% for i1 in t1 %}
        <td>{{ i1 }}</td>
    {% endfor %}
    </tr>
{% endfor %}
 </table>

</br>
<p>First Author's Texts</p>
<table>
{% for t2 in table2 %}
    <tr>
    {% for i2 in t2 %}
        <td>{{ i2 }}</td>
    {% endfor %}
    </tr>
{% endfor %}
 </table>

</br>
<p>Second Author's Texts</p>
<table>
{% for t3 in table3 %}
    <tr>
    {% for i3 in t3 %}
        <td>{{ i3 }}</td>
    {% endfor %}
    </tr>
{% endfor %}
 </table>
</body>
</html>

<!--
 #
  # Flask uses Jinja templates, which is an extension to HTML where you can
  # pass data to a template and dynamically generate HTML based on the data
  # (you can think of it as simple PHP)
  # documentation: https://realpython.com/blog/python/primer-on-jinja-templating/
  #
  # You can see an example template in templates/index.html
  #
  # context are the variables that are passed to the template.
  # for example, "data" key in the context variable defined below will be 
  # accessible as a variable in index.html:
  #
  #     # will print: [u'grace hopper', u'alan turing', u'ada lovelace']
  #     <div>{{data}}</div>
  #     
  #     # creates a <div> tag for each element in data
  #     # will print: 
  #     #
  #     #   <div>grace hopper</div>
  #     #   <div>alan turing</div>
  #     #   <div>ada lovelace</div>
  #     #
  #     {% for n in data %}
  #     <div>{{n}}</div>
  #     {% endfor %}
-->
