<html>
<style>
dy{
       font-size: 15pt;
       font-family: arial;
}
</style>
<body>
<center>
<h1>Zane and Maurice's Magical Literature Database</h1>
</center>
<center>
<tr><td>Select a category:</td><td>
						<td bgcolor="#DADADA">
                        <form method="POST" action="/selection">
                                    <select name="category">
                                            <option>Author</option>
                                            <option>Text</option>
                                            <option>Publisher</option>
                                            <option>Country</option>
                                            <option>Literary Style</option>
                                            <option>Structure</option>
                                            <option>Institution</option>
                                    </select></td></tr>
                        <input type=submit value="Search"></td></tr>
                        </form></td></tr>
</center>
</body>
</html>
