<html>
<style>
dy{
       font-size: 15pt;
       font-family: arial;
}
</style>
<body>
<center>
<h1>Zane and Maurice's Magical Literature Database</h1>
<h4><a href="/">Home</a></td></tr></h4>
</center>

<p>Structures</p>
<table>
{% for t1 in table1 %}
    <tr>
    {% for i1 in t1 %}
        <td>{{ i1 }}</td>
    {% endfor %}
    </tr>
{% endfor %}
 </table>

</br>
<p>Texts Written in First Structure</p>
<table>
{% for t2 in table2 %}
    <tr>
    {% for i2 in t2 %}
        <td>{{ i2 }}</td>
    {% endfor %}
    </tr>
{% endfor %}
 </table>

</br>
<p>Texts Written in Second Structure</p>
<table>
{% for t3 in table3 %}
    <tr>
    {% for i3 in t3 %}
        <td>{{ i3 }}</td>
    {% endfor %}
    </tr>
{% endfor %}
 </table>
</body>
</html>

